.amino_acids.txt.swp
ubiquitin.txt
proteinogenic amino acids.png
data0.csv
data1.csv
data2.csv
data3.csv
data4.csv
.Trigram_Class.py.swp
.engine.py.swp
.trigram.py.swp
__pycache__/
amino_acids.txt
engine.py
proteinogenics.txt
trigram.py

